@{
    ViewData["Title"] = "Booking failed";
}
<h2> Something went wrong! Please try again and make sure to enter a valid number of seats.</h2>
<h2><a class="nav-link" asp-action="UserFlightView" asp-controller="Flight">Check our flights</a></h2>
<div style="width: 18rem; margin: auto; width: 60%; padding: 10px;">
    <img src="~/Images/error.png" width="400" />
</div>