
@{
    ViewData["Title"] = "Booking cancel";
}
<h2> You have successfully canceled your book!</h2>
<h2><a class="nav-link" asp-action="UserFlightView" asp-controller="Flight">Check our flights</a></h2>
<div style="width: 18rem; margin: auto; width: 60%; padding: 10px;">
    <img src="~/Images/ok.png" width="400" />
</div>
