@{
    ViewData["Title"] = "Updated successful";
}
<h2> You already had a booking on this flight, so we updated the number of seats! Go to <a asp-action="Index" asp-controller="Home">Home Page</a></h2>
<div style="width: 18rem; margin: auto; width: 60%; padding: 10px;">
    <img src="~/Images/ok.png" width="400" />
</div>