@{
    ViewData["Title"] = "Logout";
}

<h2> You have been successfully logged out. </h2>
<h2> Thank you for using WeFly and we hope you come back soon!</h2>
<h2>Go to <a asp-action="Index" asp-controller="Home">Home Page</a></h2>
<div style="width: 18rem; margin: auto; width: 60%; padding: 10px;">
    <img src="~/Images/ok.png" width="400" />
</div>