@{
    ViewData["Title"] = "Register successful";
}
<h2> You have benn successfully registered. Go to <a asp-action="Index" asp-controller="Home">Home Page</a></h2>
<div style="width: 18rem; margin: auto; width: 60%; padding: 10px;">
    <img src="~/Images/ok.png" width="400" />
</div>