
@{
    ViewData["Title"] = "RegisterFailed";
}

<h2> Ooops! The user already exists. Go to <a asp-action="Index" asp-controller="Home">Home Page</a></h2>
<div style="width: 18rem; margin: auto; width: 60%; padding: 10px;">
    <img src="~/Images/error.png" width="400" />
</div>

